[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YuraStr
[access "refs/for/refs/*"]
	read = group user/YuraStr
	push = group user/YuraStr
	label-Code-Review = -2..+2 group user/YuraStr
	label-Verified = -1..+1 group user/YuraStr
	rebase = group user/YuraStr
	removeReviewer = group user/YuraStr
	submit = group user/YuraStr
[access "refs/heads/*"]
	read = group user/YuraStr
	create = group user/YuraStr
	push = +force group user/YuraStr
	pushMerge = group user/YuraStr
[access "refs/tags/*"]
	push = +force group user/YuraStr
	pushTag = group user/YuraStr
	pushSignedTag = group user/YuraStr
